
#cw_countdown{
	margin: 0 auto;
    height:191px; 
    width:180px; 
    background-repeat: no-repeat;
    background-size: 180px 191px;
    text-align:center;
    background-image: url(santas-countdown-background.png);
    	
}
.cw_countdown-text{
    font-weight:normal;
    padding-left:37px; 
    font-size:15px; 
    line-height:110%;
    padding-right: 0px; 
    padding-top:123px; 
    text-align:center;
    font-family: comic sans ms;
    color: #0099CC;
}